<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/reset.css">
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<title>Reddit</title>
</head>
<body>
<ul>
<li><a href="/"><h1>Reddit</h1></a></li>
<li><a href="/newest">Newest submissions</a></li>
<%= yield %>
</body>
</html>