<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/reset.css">
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<title>Reddit</title>
</head>
<body>
<div class="header">
<a href="/"><h1>Reddit</h1></a>
<ul>
<li><a href="/newest">Newest submissions</a></li>
<% @subreddits.each do |subreddit| %>
	<li><a href="/r/<%= subreddit.topic %>"><%= subreddit.topic %></a></li>
<% end %>
</ul>
</div>
<%= yield %>
</body>
</html>