<% @subreddits.each do |subreddit| %>
<li><a href="/r/<%= subreddit.topic %>"><%= subreddit.topic %></a></li>
<% end %>
</ul>

<div>
<% @subreddits.each do |topic| %>
<% new_id = topic.id %>
<% submission = Submission.find_by subreddit_id: new_id %>
<div><%= submission.link %></div>
<div><%= submission.text %></div>
<% end %>
</div>