<% @subreddits.each do |subreddit| %>
<li><a href="/r/<%= subreddit.topic %>"><%= subreddit.topic %></a></li>
<% end %>
</ul>

<p>Enter a link OR text below</p>
<form action="/<%= @topic %>/submission_new" method="post">
	<div>Link: <input type="string" name="link" /></div>
	<div>Text: <textarea name="text" cols=40 rows=10></textarea></div>
	<button type="submit">Submit</button>
</form>