body {
	width: 110%;
	font-family: Verdana;
}

.header {
	margin-top: -22px;
	background: #95eaff;
}

ul {

	padding: 0;
	list-style-type: none;

}

li {
	display: inline;
	height: 10px;
	margin-left: 20px;
}

.main_topics {
	margin-bottom: 30px;
}

.submission {
	margin-bottom: 20px;
}

span {
	margin: 0px 20px 0px 20px;
}

.submission_header {
	margin-bottom: 30px;
}